html, body{
    margin: 0;
    padding: 0;    
}

body{
    width: 100%;
    height: 100% ;
    font-family: sans-serif;
    background-color: #f2cdafc5;
    letter-spacing: 0.03em;
}

.cabecera{
    
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}



.registro {
    width: 400px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #ebe6e381;
    margin-top: 50px ;
    padding: 50px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.288);
}

.titulo_registro{
    text-align: left;
    margin-top: 0px;
    color: rgb(8, 26, 78);
}

.registro_label, .registro_input  {
    display: block;
    width: 100%;
    font-size: 1em;
}

.registro_input{
    
    padding-top: 21px;
    background: rgba(124, 123, 123, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.288) ;
    margin-bottom: 35px;
    padding-left: 15px;
    
    color: black;
  
}

.registro_input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.8);
}

.registro_input:focus + .registro_label{
    margin-top: -100px;
}

.registro_label{
    padding-left: 15px;
    position: absolute;
    margin-top: -63px;
    z-index: -20;
    color: rgb(0, 0, 0);
    transition: all 0.1s; 
   
}

.registro_label_fecha{
    padding-left: 15px;
     color: rgba(0, 0, 0, 0.6);
}
.registro_input_fecha{
    padding-right: auto;
    
    width: 210px;
    height: 40px;
    margin-top: -63px;
    background: rgba(124, 123, 123, 0.2);
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.288) ;
}
.registro_label_genero{
    padding-left: 15px;
    padding-right: 105px;
    color: rgba(0, 0, 0, 0.6);
}
.registro_input_genero{
    background: rgba(124, 123, 123, 0.2);
    color: rgba(104, 101, 101, 0.616);
    width: 210px;
    height: 40px;
    padding-right: auto;
    
}
.registro_submit{
    background: #9f5c64;
    border: none;
    width: 100px;
    color: rgba(255, 254, 254, 0.671);
    height: 35px;
    
    right: auto;   
    
     
}
.fijar{
    margin-top: -100px;
}
